body {
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

button {
  cursor: pointer;
  border-radius: var(--border-radius);
}